<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="dist/zoomslider.css" />
    <link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div class="itlabspro-container-about">
        <div class="itlabspro-bar">
            <div class="itlabspro-top">
                <div class="row">
                    <div class="col-3 pt-2">
                        <img src="images/logo.png" alt="" class="logo">
                    </div>
                    <div class="col-9 " style="margin-left: auto; ">
                        <div class="row">
                            <div class="col-12 d-inline-flex " style=" padding-left: 150px;">
                                <p><i class="fas fa-language"></i></p>
                                <p class="px-3"><a href="" style="font-weight: bolder;">DE</a>
                                    -
                                    <a class="itlabspro-active" href="" style="font-weight: bolder;">EN</a>
                                    -
                                    <a href="" style="font-weight: bolder;">FR</a>
                                </p>

                                <p class="px-3"><i class="far fa-envelope"></i>
                                    <a href="mailto:contact@atlas-outdoor.com">contact@atlas-outdoor.com</a>
                                </p>
                                <p class="px-3"><i class="fas fa-mobile-alt"></i>
                                    <a href="tel:06 66 91 45 65">+212(0) 6 66 91 45 65</a>
                                </p>
                                <p class="px-3"><i class="fas fa-phone-alt"></i>
                                    <a href="tel:05 24 42 29 48">+212(0)5 24 42 29 48</a>
                                </p>
                                <a href="https://www.facebook.com/Atlas.Outdoor.morocco/"><img class="icon" src="images/facebook-logo.png" alt=""></a>
                                <a href="https://www.twitter.com/atlaoutdoor"><img class="icon" src="images/twitter.png" alt=""></a>
                                <a href="https://www.instagram.com/atlasoutdoor_morocco/"><img class=" instagram" src="images/instagram.png" alt=""></a>
                                <a href="https://www.youtube.com/c/AtlasoutdoorMorocco"><img class="icon" src="images/youtube.png" alt=""></a>

                                <!--<a href=""  style="width: 10px; height: 10px;" class="px-2 m"><p class=" cercle" style="background: #3D52A6;"><i class="fas fa-hotel"></i></p></a>
                                <a href=""  style="width: 10px; height: 10px;" class="px-2 m"><p class=" cercle" style="background: #58B1F7;"><i class="fas fa-phone-alt"></i></p></a>
                                <a href=""  style="width: 10px; height: 10px;" class="px-2 m"><p class=" cercle" style="background: #DF669E;"><i class="fas fa-phone-alt"></i></p></a>
                                <a href=""  style="width: 10px; height: 10px;" class="px-2 m"><p class=" cercle" style="background: #F44350;"><i class="fas fa-phone-alt"></i></p></a>
                                -->
                            </div>
                            <div class="col-12 ">
                                <ul class="d-inline-flex" style="max-width: 100%;">
                                    <li class="px-2">
                                        <a class="" href="./index.html">
                                            HOME
                                        </a>
                                    </li>
                                    <li class="px-2">
                                        <a class="" href="./about.html">
                                            ABOUT US
                                        </a>
                                    </li>
                                    <li class="px-2">
                                        <div class="nav-item dropdown">
                                            <a href="#" class=" dropdown-toggle itlabspro-active" data-toggle="dropdown">CULTURAL
                                                ENCOUNTERS</a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a href="./cultural_roundtrips.html" class="dropdown-item  itlabspro-active">CULTURAL
                                                    ROUNDTRIPS</a>
                                                <a href="./self_drive_trips.html"
                                                    class="dropdown-item  text-uppercase">SELF DRIVE TRIPS</a>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="px-2">
                                        <div class="nav-item dropdown">
                                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown">TREKS &
                                                ADVENTURES</a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a href="./family_adventure.html" class="dropdown-item  ">
                                                    FAMILY ADVENTURE</a>
                                                <a href="./atlas_sahara_hiking.html"
                                                    class="dropdown-item  text-uppercase">ATLAS & SAHARA HIKING</a>
                                                <a href="./cycling_skiing.html"
                                                    class="dropdown-item  text-uppercase">BIKING & SKIING</a>
                                                <a href="./school_trips.html" class="dropdown-item  text-uppercase">SCHOOL
                                                    TRIPS</a>
                                                <a href="./solidatity_travels.html"
                                                    class="dropdown-item  text-uppercase">SOLIDARITY TRAVELS</a>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="px-2">
                                        <div class="nav-item dropdown">
                                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown">LUXURY &
                                                MICE</a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a href="./luxury_private_holidays.html" class="dropdown-item  ">LUXURY PRIVATE
                                                    HOLIDAYS</a>
                                                <a href="./mice.html"
                                                    class="dropdown-item  text-uppercase">M.I.C.E</a>
                                                <a href="./golf.html"
                                                    class="dropdown-item  text-uppercase">GOLF</a>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="px-2">
                                        <div class="nav-item dropdown">
                                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown">WELLNESS</a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a href="./spa_in_marrakech.html" class="dropdown-item  ">SPA IN MARRAKECH</a>
                                                <a href="./spa_in_desert.html" class="dropdown-item  text-uppercase">SPA
                                                    EXPERIENCE IN THE DESERT OR IN THE MONTAINS</a>

                                                <a href="./yoga_classes_in_marrakech.html" class="dropdown-item  text-uppercase">YOGA
                                                    CLASSES IN MARRAKECH</a>
                                                <a href="./yoga_escape_in_the_desert.html" class="dropdown-item  text-uppercase">YOGA
                                                    ESCAPE IN THE DESERT</a>
                                                <a href="./roses_valley_hiking_with_yoga.html"
                                                    class="dropdown-item  text-uppercase">ROSES VALLEY HIKING WITH YOGA
                                                    SESSIONS</a>
                                                <a href="./yoga_ocean_waves.html"
                                                    class="dropdown-item  text-uppercase">YOGA OCEAN WAVES</a>
                                                <a href="./meditation_breaks.html"
                                                    class="dropdown-item  text-uppercase">MEDITATION BREAKS</a>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="px-2">
                                        <a class="" href="./our_social_projects.html">
                                            OUR SOCIAL PROJECTS
                                        </a>
                                    </li>
                                    <li class="px-2">
                                        <div class="nav-item dropdown">
                                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown">MORE</a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a href="./prepare_your_travel_to_morocco.html" class="dropdown-item  ">PREPARE YOUR TRAVEL TO
                                                    MOROCCO</a>
                                                <a href="./general_advices.html"
                                                    class="dropdown-item  text-uppercase">GENERAL ADVICES</a>
                                                <a href="./faqs.html"
                                                    class="dropdown-item  text-uppercase">FAQS</a>
                                                <a href="./videos.html"
                                                    class="dropdown-item  text-uppercase">VIDEOS</a>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="px-2">
                                        <a class="" href="./contact.html">
                                            CONTACT US
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="demo-about"
                style="background-image: url('images/randonnees-excursions-maroc.jpg'); background-size: cover;">
                <div class="itlabspro-position-about">
                    <div class="demo-inner-about">
                        <h1 id="about">Cultural roundtrips</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="about">
        <div class="itlabspro-center">
            <div class="row">
                <div class="col-sm-12 py-5" style="text-align: left;">
                    <p>On our round tours packages we present our cultural roundtrips which is an open door for our
                        guests discover the full breadth of this diverse African country with its Islamic architectural
                        sites, Andalusian gardens, Jewish heritage sites, colourful Souks, majestic mountains, Berber
                        villages, and Camel safari in the Sahara Desert&#8230;</p>
                    <p>This range of tours offers a visit of UNESCO Fes, Imperial Rabat, and the secrets of the Moroccan
                        cuisine by having the chance to visiting local families. during these tours, our guests will
                        lodge in charming cozy Riads, typical Moroccan Hotels, and in the Great Sahara Desert stays will
                        be at Bedouin Desert Camps&#8230;</p>
                </div>
                <div class="col-4" style="width: 350px;">
                    <img class="card-img-top trip-img" src="images/scarabeo.jpg" alt="Card image cap">
                    <div class="card-body mt-4" style="text-align: left;">
                        <h6 style="color: #B6935C">Explore the desert of Agafay</h6>
                        <p class="card-text">Overview: About thirty kilometres from the city of </p>
                        <hr id="card">

                    </div>
                    <div class="row" class="card-bottom">
                        <div class="col-4 ">
                            <p class="ml-5 trip-price">$ 300.00</p>
                        </div>
                        <div class="col-8 ">
                            <button id="more" onclick="location.href = '';">Read more ></button>
                        </div>

                    </div>
                </div>
                <div class="col-4" style="width: 350px;">
                    <img class="card-img-top trip-img" src="images/cutural-tours-morocco.jpg" alt="Card image cap">
                    <div class="card-body mt-4" style="text-align: left;">
                        <h6 style="color: #B6935C">Explore the marvels of Morocco</h6>
                        <p class="card-text">Overview: This two weeks tour invites you to explore the</p>
                        <hr id="card">

                    </div>
                    <div class="row" class="card-bottom">
                        <div class="col-4">
                            <p class="ml-5 trip-price">$ 300.00</p>
                        </div>
                        <div class="col-8 ">
                            <button id="more" onclick="location.href = '';">Read more ></button>
                        </div>

                    </div>
                </div>
                <div class="col-4" style="width: 350px;">
                    <img class="card-img-top trip-img" src="images/South-Morocco.jpg" alt="Card image cap">
                    <div class="card-body mt-4" style="text-align: left;">
                        <h6 style="color: #B6935C">Mysteries of south Morocco</h6>
                        <p class="card-text">Overview: This tour is an invitation to discover the </p>
                        <hr id="card">

                    </div>
                    <div class="row" class="card-bottom">
                        <div class="col-4">
                            <p class="ml-5 trip-price">$ 300.00</p>
                        </div>
                        <div class="col-8 ">
                            <button id="more" onclick="location.href = '';">Read more ></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="itlabspro-footer">
            <div class="container footer-div1">
                <div class="row">
                    <div class="col-12 col-xl-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
                        <img src="images/logo-white.png" class="mw-100" alt="" style="padding-bottom: 20px;">
                        <p style="color: #ffffff;">Atlas Outdoor is a Moroccan travel agency based in Marrakech,
                            Adventure and cultural holidays
                            in Morocco</p>
                        <div class="py-4">
                            <a href="https://www.twitter.com/atlaoutdoor" class="px-2"><img class="footer-social" src="images/twitter-white.png"
                                    alt=""></a>
                            <a href="https://www.facebook.com/Atlas.Outdoor.morocco/" class="px-2"><img class="footer-social" src="images/facebook-white.png"
                                    alt=""></a>
                            <a href="https://www.instagram.com/atlasoutdoor_morocco/" class="px-2"><img class="footer-social" src="images/instagram-white.png"
                                    alt=""></a>
                            <a href="" class="px-2"><img class="footer-social" src="images/pintrest.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3 col-md-3 col-sm-12 col-xs-12 footer-div2">
                        <span class="footer-span">Support</span><br><br>
                        <a href="" class="footer-a">Customer Support</a><br><br>
                        <a href="" class="footer-a">Privacy & Policy</a><br><br>
                        <a href="" class="footer-a">Contact Channels</a>
                    </div>
                    <div class="col-12 col-xl-3 col-md-3 col-sm-12 col-xs-12 footer-div2">
                        <span class="footer-span">About Us</span><br><br>
                        <a href="" class="footer-a">Our Story</a><br><br>
                        <a href="" class="footer-a">Travel Blog &
                            Tips</a><br><br>
                        <a href="" class="footer-a">Working With Us</a><br><br>
                        <a href="" class="footer-a">Be Our Partner</a>
                    </div>
                    <div class="col-12 col-xl-3 col-md-3 col-sm-12 col-xs-12 footer-div3">
                        <span class="footer-span">Contact Info</span><br><br>
                        <a href="" class="footer-a">Square Allal Ben Ahmed street
                            Villa Elabbassia N° 10, Guéliz
                            40 000 Marrakech</a><br><br>
                        <a href="tel:05 24 42 29 48" class="footer-a">+212(0)5 24
                            42
                            29 48</a><br><br>
                        <a href="mailto:contact@atlas-outdoor.com" class="footer-a">contact@atlas-outdoor.com</a>

                    </div>
                </div>
                <hr id="white">
                <div class="row">
                    <div class="col-12 col-xl-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left;">
                        <p style="color: #ffffff;">© 2022 Atlas outdoor All Rights Reserved</p>
                    </div>
                    <div class="col-12 col-xl-6 col-md-6 col-sm-12 col-xs-12" style="text-align: right;">
                        <img src="images/banks.png" class="mw-100" alt="">
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="dist/jquery.zoomslider.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</body>

</html>